@charset "UTF-8";
/*--------------------------------
	　共通設定
--------------------------------*/
html {
  font-size: 62.5%;
}

/* カラー */
body {
  color: #141414;
  font-size: 1.6rem;
  counter-reset: number 0;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-family: "Noto Sans JP", "Noto Sans", sans-serif;
  color: #292929;
}

a,
p {
  text-decoration: none;
  color: #292929;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* フォント */
/* フォントサイズ */
h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.1rem;
}

/* 共通コンポーネント */
.el_tel {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  font-family: bernhard-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.el_tel.el_tel__lg {
  font-size: 3rem;
  color: #f5a623;
}

.el_btn {
  display: inline-block;
  width: 142px;
  max-width: 100%;
  border-radius: 5px;
  padding: 15px 10px 15px 10px;
  background: -webkit-gradient(linear, left center, right center, from(#b17dff), to(#0099ff));
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.el_btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: inherit;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  background: -webkit-gradient(linear, right bottom, right top, from(#b17dff), to(#0099ff));
  z-index: -1;
}

.el_btn:hover:after {
  opacity: 1;
}

.el_btn.el_btn__accentSquare {
  background: #f5a623;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.el_btn.el_btn__accentSquare::after {
  background: #f5a623;
}

.el_btn.el_btn__accentSquare:hover {
  opacity: 0.8;
}

.el_btn.el_btn__accentRadius {
  background: #f5a623;
  border-radius: 32px;
  width: 300px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.el_btn.el_btn__accentRadius::after {
  background: #f5a623;
}

.el_btn.el_btn__accentRadius:hover {
  opacity: 0.8;
}

.el_btn.el_btn__mainRadius {
  background: -webkit-gradient(linear, left center, right center, from(#b17dff), to(#0099ff));
  border-radius: 32px;
  width: 200px;
}

.hp_round button {
  width: 260px;
  height: 60px;
  border-radius: 30px;
}

/*--------------------------------
	　共通設定 ここまで
--------------------------------*/
/*--------------------------------
	　ヘッダー　ここから
--------------------------------*/
.ly_header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.ly_header_inner {
  padding-right: 2vw;
  padding-left: 2vw;
  height: 80px;
}

.el_logo img {
  width: 150px;
}

.bl_nav .bl_nav_item {
  margin-right: 28px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.bl_nav .bl_nav_item i {
  color: #4eaceb;
}

.bl_nav .bl_nav_item:last-child {
  margin-right: 0;
}

.bl_nav .bl_nav_item:hover {
  opacity: 0.6;
}

.ly_header_container .bl_info_wrapper {
  margin-right: 10px;
}

.ly_header_container .bl_info_wrapper > p {
  font-family: bernhard-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: right;
  font-size: 1.2rem;
  font-weight: normal;
}

/*--------------------------------
ドロワーメニュー
--------------------------------*/
body.noscroll {
  overflow: hidden;
}

@-webkit-keyframes active {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes active {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bl_drawer_wrap {
  display: none;
  height: 100vh;
  position: absolute;
  width: 100%;
  background-color: #fff;
  top: 80px;
  z-index: 9998;
}

.bl_drawer_list {
  display: none;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 9999;
  text-align: center;
}

.bl_drawer_list a {
  display: block;
  background-color: #4eaceb;
}

.bl_drawer_list .ly_btn_unit {
  background-color: #4eaceb;
}

.bl_drawer_list .ly_btn_unit .el_btn {
  width: 300px;
}

.bl_drawer_list .bl_info_wrapper {
  background-color: #4eaceb;
}

.bl_drawer_list .bl_info_wrapper .el_tel {
  color: #ffffff;
}

.bl_drawer_list .bl_info_wrapper p {
  color: #ffffff;
}

.bl_drawer_item {
  padding: 30px 0px 30px 0px;
  border-top: 1px solid #ffffff;
  color: #ffffff;
}

.bl_drawerBtn {
  position: relative;
  top: 5px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2px;
  z-index: 10000;
  display: none;
}

.hambarg {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 4px;
  width: 40px;
  background: #4eaceb;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.hambarg:nth-child(1) {
  top: 25%;
  left: 50%;
}

.hambarg:nth-child(2) {
  top: 45%;
  left: 50%;
}

.hambarg:nth-child(3) {
  top: 65%;
  left: 50%;
}

.bl_drawer_wrap.active {
  display: block;
  -webkit-animation: active 0.5s linear 0s;
          animation: active 0.5s linear 0s;
}

.bl_drawer_list.active {
  display: block;
  -webkit-animation: active 0.5s linear 0s;
          animation: active 0.5s linear 0s;
}

.bl_drawerBtn.active .hambarg:nth-child(1) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.bl_drawerBtn.active .hambarg:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.bl_drawerBtn.active .hambarg:nth-child(3) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*--------------------------------
	　ヘッダー　ここまで
--------------------------------*/
/*--------------------------------
	　フロントページ　ここから
--------------------------------*/
/* ファーストビュー */
.ly_fv {
  width: 92vw;
  padding-left: 4vw;
  padding-right: 4vw;
}

.ly_fv_wrapper {
  min-height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
}

.ly_fv .bl_fv_left {
  text-align: left;
  color: #292929;
  width: 50%;
}

.ly_fv .bl_fv_copy {
  font-weight: 600;
  line-height: 2;
}

.ly_fv .bl_fv_img__sm {
  margin: 0 auto;
  display: none;
  width: 100% !important;
}

.bl_point_wrapper {
  max-width: 650px;
}

.bl_point_body {
  width: 34%;
  max-width: 210px;
  min-width: 138px;
  margin-right: 5px;
}

.bl_point_two_wrapper {
  width: 66%;
}

.bl_point_two_wrapper .bl_point_body {
  width: calc(100% / 2);
}

.bl_point_ttl {
  position: relative;
  line-height: 2;
  z-index: 10;
  border-radius: 32px;
  color: #ffffff;
  font-size: 2rem;
}

.bl_point_circle {
  position: relative;
  padding: 50%;
  border: 1px solid;
  border-radius: 50%;
  margin-top: -40px;
}

.bl_point_cont {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.bl_point_cont > p {
  margin-top: -20px;
}

.bl_point_highlight {
  color: #4eaceb;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 1240px) {
  .bl_point_highlight {
    font-size: 3rem;
  }
}

.bl_point_highlight span {
  font-family: bernhard-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
}

@media screen and (min-width: 1240px) {
  .bl_point_highlight span {
    font-size: 4rem;
  }
}

.bl_point_small {
  font-size: 1rem;
  white-space: nowrap;
}

/* 各セクション共通 */
.ly_inner {
  max-width: 1180px;
  margin: 0 auto;
  padding-right: 4vw;
  padding-left: 4vw;
}

.ly_inner.ly_inner__small {
  max-width: 700px;
}

.el_section_ttl {
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5rem;
  font-family: corporate-logo-ver2, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4eaceb;
}

.el_section_lead {
  text-align: center;
}

/* イントロセクション */
#intro .bl_intro_imgWrapper {
  width: 50%;
}

#intro .bl_intro_body {
  width: 50%;
}

/* フューチャーセクション */
.bl_feature_container {
  gap: 20px;
}

.bl_feature_container:first-of-type {
  margin-top: 50px;
}

.bl_feature_body {
  width: 45%;
}

.bl_feature_label {
  padding: 8px 25px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #f5a623;
}

.bl_feature_header {
  font-weight: 600;
}

.bl_feature_txt {
  letter-spacing: -0.1rem;
}

.bl_feature_imgWrapper {
  width: 50%;
}

/* クエスチョンセクション */
#question .ly_inner {
  text-align: center;
  overflow: hidden;
}

.bl_faq_list {
  max-width: 980px;
  border-top: 1px solid #4eaceb;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
}

.bl_faq_list:last-child {
  border-bottom: 1px solid #4eaceb;
}

.bl_faq_item_question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  width: 100%;
  padding: 28px 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.bl_faq_item_question div i {
  font-size: 3rem;
  color: #4eaceb;
}

#question .bl_faq_container {
  position: relative;
}

#question .bl_faq_container .bl_faq_list:first-child::after {
  content: "";
  background-image: url(img/Woman.svg);
  position: absolute;
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  top: -181px;
  right: -80px;
  display: block;
  z-index: -1;
}

.el_faq_icon {
  position: relative;
  width: 60px;
  height: auto;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  cursor: pointer;
  z-index: 999;
}

.el_faq_icon::before {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
  height: 2px;
  width: 20px;
  background: #4eaceb;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  top: 50%;
  left: 50%;
}

.el_faq_icon::after {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 2px;
  width: 20px;
  background: #4eaceb;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  top: 50%;
  left: 50%;
}

.bl_faq_item_answer {
  display: none;
  color: #333;
  text-align: left;
  background-color: #eaf5fd;
  padding: 28px 20px 28px 100px;
}

.bl_faq_item_question.open .el_faq_icon::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bl_faq_item_question.open .el_faq_icon::after {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ニュースセクション */
.el_section_ttl {
  text-align: center;
}

.bl_news_item {
  display: block;
  border-bottom: 2px solid #ffffff;
  padding: 20px;
}

.bl_news_date {
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #4eaceb;
  display: inline-block;
  border-radius: 10px;
  padding: 5px 10px;
}

.bl_news_ttl {
  display: block;
  position: relative;
  text-decoration: none;
  top: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bl_news_ttl:hover {
  top: 6px;
}

/* ctaセクション */
#cta {
  background-image: url(img/cta.jpg);
  background-position: center;
  background-size: cover;
}

.bl_cta_imgWrapper {
  width: 45%;
}

.bl_cta_unit {
  width: 50%;
}

.bl_cta_lead {
  color: #ffffff;
  font-weight: bold;
}

.bl_cta_txt {
  color: #ffffff;
}

.bl_cta_info p {
  color: #ffffff;
}

/*--------------------------------
	　フロントページ ここまで
--------------------------------*/
/*--------------------------------
	　フッター ここから
--------------------------------*/
.ly_footer {
  background-color: #4eaceb;
  padding-top: 100px;
  border-bottom: 1px solid #ffffff;
}

.ly_footer > .ly_inner {
  padding-bottom: 100px;
}

.ly_footer .bl_info_wrapper .el_tel {
  color: #ffffff;
}

.ly_footer .bl_info_wrapper p {
  color: #ffffff;
}

.bl_footer_nav {
  margin-right: 5vw;
}

.bl_footer_nav a {
  margin-right: 30px;
  color: #ffffff;
  position: relative;
}

.bl_footer_nav a::before {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  width: 10px;
  /* くの字を山なりに見た時、左側の長さ */
  height: 8px;
  /* くの字を山なりに見た時、右側の長さ */
  border-top: 3px solid white;
  /* くの字を山なりに見た時、左側の太さと色 */
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  /* くの字の向き */
}

.bl_footer_nav a::after {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  width: 10px;
  /* くの字を山なりに見た時、左側の長さ */
  height: 8px;
  /* くの字を山なりに見た時、右側の長さ */
  border-top: 3px solid white;
  /* くの字を山なりに見た時、左側の太さと色 */
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  /* くの字の向き */
}

.bl_footer_nav li {
  white-space: nowrap;
  margin: 10px;
}

.bl_footer_nav li:hover {
  opacity: .7;
}

.bl_footer_nav > ul {
  padding: 0px 0px 0px 20px;
}

.ly_footer_main ul:nth-of-type(2) {
  padding-right: 3vw;
  margin-right: 4vw;
  border-right: 1px solid #ffffff;
}

.ly_copyright {
  background-color: #4eaceb;
  text-align: center;
  border-top: 1px solid #ffffff;
}

.ly_copyright span {
  color: #ffffff;
  vertical-align: middle;
  font-size: 1.2rem;
}

/*--------------------------------
	　フッター ここまで
--------------------------------*/
/*--------------------------------
	　固定ページ共通
--------------------------------*/
.ly_heading {
  height: 221px;
  margin-top: 8rem;
  position: relative;
}

.ly_heading img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ly_heading h2 {
  font-family: corporate-logo-ver2, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.6em;
  position: absolute;
  text-align: center;
  color: #ffffff;
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ly_breadcrumbs {
  width: 100%;
}

.bl_breadcrumbs {
  padding-top: 17px;
  padding-bottom: 17px;
  color: #292929;
}

.bl_breadcrumbs span {
  vertical-align: middle;
}

/*--------------------------------
　料金プランページ　ここから
--------------------------------*/
.bl_scroll {
  overflow-x: scroll;
}

.bl_priceUnit {
  list-style: none;
}

.bl_priceUnit .bl_price_card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1%;
}

.bl_priceUnit .bl_price_card:last-child {
  margin-right: 0;
}

.bl_price_header {
  padding: 2.4rem;
  text-align: center;
}

.bl_price_card:nth-of-type(1) .bl_price_header {
  background: -webkit-gradient(linear, left top, right top, from(#edb6ee), to(#3eace1));
  background: linear-gradient(to right, #edb6ee 0%, #3eace1 100%);
}

.bl_price_card:nth-of-type(2) .bl_price_header {
  padding: 3.6rem 2.4rem;
  background: -webkit-gradient(linear, left top, right top, from(#3eace1), to(#1976bd));
  background: linear-gradient(to right, #3eace1 0%, #1976bd 100%);
}

.bl_price_card:nth-of-type(3) .bl_price_header {
  background: -webkit-gradient(linear, left top, right top, from(#1976bd), to(#9bd6b0));
  background: linear-gradient(to right, #1976bd 0%, #9bd6b0 100%);
}

.bl_price_ttl {
  line-height: 3.6rem;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.bl_price_body {
  padding: 30px 15px 15px 15px;
  height: 350px;
  text-align: center;
  border-bottom: 1px solid #4eaceb;
  border-right: 1px solid #4eaceb;
  border-left: 1px solid #4eaceb;
}

.bl_price_price {
  font-family: bernhard-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: #4eaceb;
  white-space: nowrap;
}

.bl_price_price span {
  font-size: 1.6rem;
  color: #292929;
  font-weight: normal;
  margin-right: -8px;
}

.bl_price_price.bl_price_price__white {
  color: #ffffff;
  font-size: 3rem;
}

.bl_price_price.bl_price_price__white span {
  font-size: 1.2rem;
  color: #ffffff;
}

.bl_price_features {
  text-align: center;
}

.bl_price_features > *:last-child {
  margin-bottom: 0;
}

.bl_price_features dt {
  padding: 5px;
  margin-bottom: 10px;
}

.bl_price_features dd {
  margin-bottom: 20px;
}

.bl_price_features_detail {
  position: relative;
  padding: 30px 10px 30px 10px;
}

.bl_plan_service_table,
.bl_plan_option_table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto 30px;
  padding: 0;
  table-layout: fixed;
  width: 100%;
  text-align: left;
}

.bl_plan_service_table thead th:nth-of-type(2),
.bl_plan_option_table thead th:nth-of-type(2) {
  background: -webkit-gradient(linear, left top, right top, from(#edb6ee), to(#3eace1));
  background: linear-gradient(to right, #edb6ee 0%, #3eace1 100%);
}

.bl_plan_service_table thead th:nth-of-type(3),
.bl_plan_option_table thead th:nth-of-type(3) {
  background: -webkit-gradient(linear, left top, right top, from(#3eace1), to(#1976bd));
  background: linear-gradient(to right, #3eace1 0%, #1976bd 100%);
}

.bl_plan_service_table thead th:nth-of-type(4),
.bl_plan_option_table thead th:nth-of-type(4) {
  background: -webkit-gradient(linear, left top, right top, from(#1976bd), to(#9bd6b0));
  background: linear-gradient(to right, #1976bd 0%, #9bd6b0 100%);
}

.bl_plan_service_table thead th,
.bl_plan_option_table thead th {
  padding: 1em 0.8em;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bl_plan_service_table thead th:last-child,
.bl_plan_option_table thead th:last-child {
  margin-right: 0;
}

.bl_plan_service_table thead th:first-child,
.bl_plan_option_table thead th:first-child {
  margin-right: 0;
  padding-right: 0em;
}

.bl_plan_service_name,
.bl_plan_option_name {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.bl_plan_service_table tbody tr,
.bl_plan_option_table tbody tr {
  padding: 0.35em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.bl_plan_service_table tbody tr:nth-child(even),
.bl_plan_option_table tbody tr:nth-child(even) {
  background-color: #e9e9e9;
}

.bl_plan_service_table tbody th,
.bl_plan_option_table tbody th {
  padding: 5px 0 5px 30px;
  font-size: 14px;
  color: #292929;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bl_plan_service_table tbody td,
.bl_plan_option_table tbody td {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.7em;
  text-align: center;
  font-size: 14px;
  color: #4eaceb;
}

.bl_plan_service_table tbody td span,
.bl_plan_option_table tbody td span {
  font-family: bernhard-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fixed01 {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: inherit;
}

.fixed01:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
}

#meo .el_annotation {
  color: #777;
}

#meo .blank .fixed01 {
  width: 20%;
}

#meo .bl_plan_service_head {
  width: 60%;
}

#meo .bl_plan_service_table thead th {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}

#meo thead tr {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#meo tbody tr {
  height: 300px;
}

#meo .bl_plan_service_table tbody th {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
  width: 40%;
}

#meo .bl_plan_service_table tbody td {
  width: 60%;
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 3rem;
  font-family: bernhard-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#meo .bl_plan_service_table tbody td span {
  font-size: 1.2rem;
}

#meo .bl_plan_service_table tbody td p {
  font-size: 2rem;
  color: #4eaceb;
}

#meo .bl_plan_service_table tbody td small {
  font-size: 2rem;
}

/*--------------------------------
  料金プランページ　ここまで
--------------------------------*/
/*--------------------------------
　サービスページ　ここから
--------------------------------*/
.bl_intro_list {
  color: #292929;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.bl_intro_imgWrapper {
  width: 500px;
  margin: 0 auto;
}

.bl_intro_box_txt {
  padding: 10px;
}

/* 心の声吹き出し本体 */
.bubble {
  position: relative;
  display: inline-block;
  padding: 20px 30px;
  min-width: 200px;
  max-width: 80%;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 0px #777;
          box-shadow: 2px 3px 0px #777;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 吹き出し左 */
.bubble.bubble__left:before {
  content: "";
  position: absolute;
  left: 243px;
  width: 13px;
  height: 12px;
  bottom: -40px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 2px 3px 0px #777;
          box-shadow: 2px 3px 0px #777;
}

.bubble.bubble__left:after {
  content: "";
  position: absolute;
  left: 222px;
  width: 20px;
  height: 18px;
  bottom: -25px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 2px 3px 0px #777;
          box-shadow: 2px 3px 0px #777;
}

/* 吹き出し真ん中 */
.bubble.bubble__center:before {
  content: "";
  position: absolute;
  left: 107px;
  width: 13px;
  height: 12px;
  bottom: -47px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 2px 3px 0px #777;
          box-shadow: 2px 3px 0px #777;
}

.bubble.bubble__center:after {
  content: "";
  position: absolute;
  left: 103px;
  width: 20px;
  height: 18px;
  bottom: -25px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 2px 3px 0px #777;
          box-shadow: 2px 3px 0px #777;
}

/* 吹き出し右 */
.bubble.bubble__right:before {
  content: "";
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: -40px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 2px 3px 0px #777;
          box-shadow: 2px 3px 0px #777;
}

.bubble.bubble__right:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: -25px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 2px 3px 0px #777;
          box-shadow: 2px 3px 0px #777;
}

.bubble p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
}

.bl_intro_box {
  background-color: #4eaceb;
  padding: 11px 14px;
}

.bl_intro_box_inner {
  border: 5px solid #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bl_intro_box_ttl {
  font-weight: 600;
  margin-bottom: 25px;
  color: #ffffff;
}

.bl_intro_box_ttl .decorate {
  position: relative;
  z-index: 0;
}

.bl_intro_box_ttl .decorate::before {
  content: "";
  background-color: #f5a623;
  position: absolute;
  height: 5px;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0px;
  display: inline-block;
  z-index: -1;
}

.bl_intro_box_txt {
  color: #ffffff;
}

.bl_card {
  border-radius: 8px;
}

.bl_card_imgWrapper {
  position: relative;
  padding-top: 45%;
  overflow: hidden;
  margin: 0 auto;
  width: 70%;
}

#reason .bl_card_imgWrapper {
  position: relative;
  padding-top: 370px;
  overflow: hidden;
  margin: 0 auto;
  width: 70%;
  max-width: 500px;
}

.bl_card_imgWrapper > img {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bl_card_body {
  padding: 15px 15px 30px 15px;
}

.bl_card_body > *:last-child {
  margin-bottom: 0;
}

.bl_card_ttl {
  margin-bottom: 5px;
  font-weight: bold;
  color: #4eaceb;
}

.bl_card_txt {
  color: #777;
  text-align: center;
}

/* 3カラム */
.bl_cardUnit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bl_cardUnit.bl_cardUnit__col3 {
  margin-bottom: -30px;
}

.bl_cardUnit.bl_cardUnit__col3 .bl_card_ttl {
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #292929;
}

.bl_cardUnit__col3 > .bl_card {
  width: 30%;
  margin-right: 2.5%;
  margin-bottom: 50px;
}

.bl_cardUnit__col3 > .bl_card:nth-child(3n) {
  margin-right: 0;
}

/*--------------------------------
サービスページ　ここまで
--------------------------------*/
/*--------------------------------
	　ご利用の流れページ ここから
--------------------------------*/
.ly_flow_list {
  position: relative;
}

.ly_flow_list .bl_flow_deco {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ly_flow_list .bl_flow_deco .bl_flow_deco_circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ly_flow_list .bl_flow_deco .bl_flow_deco_circle::before {
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 4px solid #4eaceb;
  border-radius: 100px;
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: #4eaceb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ly_flow_list .bl_flow_item {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ly_flow_list .bl_flow_item .bl_flow_deco {
  z-index: 1;
}

.ly_flow_list .bl_flow_item:nth-child(n + 2) {
  margin-top: 100px;
}

.ly_flow_list .bl_flow_item:nth-child(odd) {
  padding-right: 80px;
}

.ly_flow_list .bl_flow_item:nth-child(odd) .bl_flow_deco {
  right: -105px;
}

.ly_flow_list .bl_flow_item:nth-child(odd) .bl_flow_item_ttl_num {
  margin-right: 10px;
}

.ly_flow_list .bl_flow_item:nth-child(even) {
  padding-left: 80px;
  margin-left: auto;
}

.ly_flow_list .bl_flow_item:nth-child(even) .bl_flow_deco {
  left: -105px;
}

.ly_flow_list .bl_flow_item:nth-child(even) .bl_flow_item_ttl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

.ly_flow_list .bl_flow_item:nth-child(even) .bl_flow_item_ttl_num {
  margin-left: 1rem;
}

.ly_flow_list .bl_flow_item.flow_item_last {
  padding-left: 0;
  width: 100%;
  position: relative;
  z-index: 99;
}

.ly_flow_list .bl_flow_item.flow_item_last figure {
  max-width: 700px;
  width: 80vw;
  display: inline-block;
}

.bl_flow_item_ttl {
  margin-bottom: 1rem;
  line-height: 1.2;
}

.bl_flow_item_ttl_num {
  font-family: bernhard-gothic-urw, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 200%;
  line-height: 0.7;
}

.bl_flow_item_ttl_txt {
  font-weight: bold;
}

.bl_flow_item:nth-child(odd) .bl_flow_deco_line {
  right: 101%;
}

.bl_flow_item:nth-child(even) .bl_flow_deco_line {
  left: 99%;
}

.bl_flow_item .bl_flow_deco_line {
  width: 56px;
  height: 4px;
  top: calc(50% - 2px);
}

.bl_flow_deco_line {
  position: absolute;
  overflow: hidden;
}

.bl_flow_deco_line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4eaceb;
}

.bl_lineBox {
  padding: 32px;
  position: relative;
  background-color: #ffffff;
}

.bl_lineBox_lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.bl_lineBox_lines span {
  background-color: #4eaceb;
  position: absolute;
}

.bl_lineBox_lines span:nth-child(1) {
  top: 0;
  left: 0;
}

.bl_lineBox_lines span:nth-child(2) {
  top: 0;
  right: 0;
}

.bl_lineBox_lines span:nth-child(3) {
  bottom: 0;
  right: 0;
}

.bl_lineBox_lines span:nth-child(4) {
  bottom: 0;
  left: 0;
}

.bl_lineBox_lines span:nth-child(odd) {
  width: 100%;
  height: 4px;
}

.bl_lineBox span:nth-child(even) {
  width: 4px;
  height: 100%;
}

/* 真ん中の装飾 */
.ly_flow_list > .bl_flow_deco {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bl_flow_deco.bl_flow_deco__main .bl_flow_deco_line {
  height: 2825px;
  width: 4px;
  left: calc(50% - 2px);
  top: 12px;
}

/*--------------------------------
ご利用の流れページ　ここまで
--------------------------------*/
/*--------------------------------
プライバシポリシーページ　ここから
--------------------------------*/
.bl_privacy_article h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

.bl_privacy_article ol {
  padding: 0 0 0 30px;
  margin: 20px 0;
}

/*--------------------------------
プライバシーポリシーページ　ここまで
--------------------------------*/
/*--------------------------------
企業情報ページここから
--------------------------------*/
.bl_company dt {
  width: 30%;
  padding: 20px 0;
  float: left;
}

.bl_company .bl_company_definition {
  width: 70%;
  padding: 20px 0;
  float: left;
}

.bl_company .el_bor-btm {
  border-bottom: 1px solid #e9e9e9;
  display: block;
}

/*--------------------------------
企業情報ページここまで
--------------------------------*/
/*--------------------------------
ニュース一覧ページ
--------------------------------*/
#archive .bl_news_item {
  border-bottom: 1px solid #e9e9e9;
}

/* ページャーのスタイリング */
.navigation.pagination {
  margin-top: 90px;
}

.page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination .nav-links {
  text-align: center;
}

.pagination .nav-links .current {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #4eaceb;
  background: #4eaceb;
  color: #fff;
  line-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination .nav-links .dots {
  display: inline-block;
  margin: 30px 8px 8px 8px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 30px;
}

.pagination .nav-links a.page-numbers {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #4eaceb;
  text-decoration: none;
  color: #4eaceb;
  line-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination .nav-links a.page-numbers:hover {
  background: #4eaceb;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*--------------------------------
ニュース一覧ページ ここまで
--------------------------------*/
/*--------------------------------
ニュースページ詳細
--------------------------------*/
/* ニュースページ詳細 */
article .ly_inner.ly_inner__small > p {
  font-size: 1.4rem;
}

.el_news_cont {
  border-bottom: 1px solid #e9e9e9;
}

/*--------------------------------
ニュースページ詳細 ここまで
--------------------------------*/
/*--------------------------------
デモサイト一覧ページ
--------------------------------*/
.bl_media_imgWrapper {
  width: calc(50% - 30px);
}

.bl_media_body {
  width: 40%;
  margin-left: auto;
}

.bl_media_ttl {
  color: #4eaceb;
  font-weight: bold;
  margin-bottom: 30px;
}

.bl_media_txt {
  margin-bottom: 30px;
}

/*--------------------------------
デモサイト一覧ページ ここまで
--------------------------------*/
/*--------------------------------
利用者様ページ　ここから
--------------------------------*/
#user .el_user_header {
  font-weight: bold;
}

#user .bl_info_wrapper {
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
  text-align: center;
}

#user .bl_info_wrapper .el_tel {
  font-size: 300%;
}

#user .el_btn.el_btn__accentSquare {
  width: 60%;
}

/*--------------------------------
利用者様ページ　ここまで
--------------------------------*/
/*--------------------------------
コンタクトページ　ここから
--------------------------------*/
#page-contact p {
  text-align: center;
}

#page-contact a {
  color: #f5a623;
  text-decoration: underline;
}

.wpcf7 {
  padding-top: 80px;
}

.bl_cf7_table {
  width: 100%;
}

.bl_cf7_table th,
.bl_cf7_table td {
  display: block;
}

.bl_cf7_table th span {
  font-weight: bold;
}

.bl_cf7_table textarea {
  resize: none;
}

.wpcf7-form-control.wpcf7-text,
.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
  width: 100%;
  border: 0.5px solid #4eaceb;
}

.wpcf7-form-control.wpcf7-text {
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
}

.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
  margin-bottom: 30px;
}

.wpcf7-form-control.wpcf7-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
}

.wpcf7-list-item {
  display: block;
}

.wpcf7-form-control-wrap.acceptance {
  display: block;
  margin-top: 33px;
  margin-bottom: 48px;
}

.wpcf7-submit.el_btn.el_btn__mainRadius {
  display: inline-block;
  width: 142px;
  max-width: 100%;
  padding: 20px 20px 20px 20px;
  background: -webkit-gradient(linear, left center, right center, from(#b17dff), to(#0099ff));
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  background: -webkit-gradient(linear, left center, right center, from(#b17dff), to(#0099ff));
  border-radius: 32px;
  width: 200px;
  border: none;
}

.el_cf7_btn {
  width: 200px;
  margin: 0 auto;
}

/*--------------------------------
コンタクトページ　ここまで
--------------------------------*/
/* ヘルパークラス */
.hp_reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}

.hp_br-pc {
  display: block;
}

.hp_br-tb {
  display: none;
}

.hp_br-sp {
  display: none;
}

.hp_disb {
  display: block;
}

.hp_fs-sm {
  font-size: 80%;
}

.hp_marker {
  border-bottom: 1px dotted #ffe000;
}

.hp_mr10 {
  margin-right: 10px;
}

.hp_ml10 {
  margin-left: 10px;
}

.hp_mb10 {
  margin-bottom: 10px;
}

.hp_mt10 {
  margin-top: 10px;
}

.hp_mr30 {
  margin-right: 30px;
}

.hp_ml30 {
  margin-left: 30px;
}

.hp_mb30 {
  margin-bottom: 30px;
}

.hp_mt30 {
  margin-top: 30px;
}

.hp_mr50 {
  margin-right: 50px;
}

.hp_ml50 {
  margin-left: 50px;
}

.hp_mb50 {
  margin-bottom: 50px;
}

.hp_mt50 {
  margin-top: 50px;
}

.hp_mr80 {
  margin-right: 80px;
}

.hp_ml80 {
  margin-left: 80px;
}

.hp_mb80 {
  margin-bottom: 80px;
}

.hp_mt80 {
  margin-top: 80px;
}

.hp_mr100 {
  margin-right: 100px;
}

.hp_ml100 {
  margin-left: 100px;
}

.hp_mb100 {
  margin-bottom: 100px;
}

.hp_mt100 {
  margin-top: 100px;
}

.hp_mtLg {
  margin-top: 120px;
}

.hp_mbLg {
  margin-bottom: 120px;
}

.hp_mtMd {
  margin-top: 80px;
}

.hp_mbMd {
  margin-bottom: 80px;
}

.hp_mtSm {
  margin-top: 30px;
}

.hp_mbSm {
  margin-bottom: 30px;
}

/* padding  */
.hp_pt30 {
  padding-top: 30px;
}

.hp_pb30 {
  padding-bottom: 30px;
}

.hp_pt50 {
  padding-top: 50px;
}

.hp_pb50 {
  padding-bottom: 50px;
}

.hp_pt80 {
  padding-top: 80px;
}

.hp_pb80 {
  padding-bottom: 80px;
}

.hp_pt120 {
  padding-top: 120px;
}

.hp_pb120 {
  padding-bottom: 120px;
}

.hp_ptLg {
  padding-top: 120px;
}

.hp_pbLg {
  padding-bottom: 120px;
}

.hp_mtLg {
  margin-top: 120px;
}

.hp_mbLg {
  margin-bottom: 120px;
}

.hp_ptMd {
  padding-top: 80px;
}

.hp_pbMd {
  padding-bottom: 80px;
}

.hp_ptSm {
  padding-top: 30px;
}

.hp_pbSm {
  padding-bottom: 30px;
}

.hp_MT10 {
  margin-top: -10px !important;
}

.hp_MT20 {
  margin-top: -20px !important;
}

.hp_MT50 {
  margin-top: -50px !important;
}

.hp_MT1e {
  margin-top: -1em !important;
}

.hp_sp-br {
  display: none !important;
}

.hp_db {
  display: block !important;
}

.hp_tac {
  text-align: center !important;
}

.hp_tar {
  text-align: right !important;
}

.hp_tal {
  text-align: left !important;
}

.hp_w400 {
  width: 400px !important;
}

.hp_w50p {
  width: 50% !important;
}

.hp_lh1_5 {
  line-height: 1.5 !important;
}

.hp_bgcWhite {
  background-color: #ffffff !important;
}

.hp_bgcMain {
  background-color: #4eaceb !important;
}

.hp_bgcAccent {
  background-color: #f5a623 !important;
}

.hp_bgcGray {
  background-color: #e9e9e9 !important;
}

.hp_bgc {
  background-color: #eaf5fd !important;
}

.hp_bgImg_triangle {
  background: url(img/triangle-mosaic.png) !important;
}

.hp_bgImg_geometry {
  background: url(img/geometry.png) !important;
}

.hp_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hp_jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hp_jcsb {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.hp_jcsa {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.hp_aic {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.hp_aife {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hp_clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.hp_clear {
  clear: both;
}

.hp_centering {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
/*# sourceMappingURL=style.css.map */